.navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 20px 90px;
  z-index: 100;
  box-sizing: border-box;
  transition: height 1s;
}

.navbar-active {
  background-color: black;
  height: 90px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 1px 90px;
  z-index: 1;
  box-sizing: border-box;
  transition: height 1s;
}

.app-name {
  color: white;
}

.app-name:hover {
  cursor: pointer;
}

.icon {
  color: red;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.link {
  margin: 0 30px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color 1s;
  transition: font-size 1s;
}

.link-active {
  height: 5px;
  color: white;
  margin: 0 15px;
  font-weight: bold;
  text-decoration: none;
  transition: color 1s;
  transition: font-size 1s;
}

.link:hover,
.link-active:hover {
  color: red;
  font-size: 20px;
}

.search-Tab {
  display: flex;
  margin-top: 3px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: center;
  position: relative;
}

.input {
  color: white;
  border: none;
  padding: 12px 10px;
  border-radius: 12px;
  background-color: rgb(68, 60, 60);
}

.submit-btn {
  padding: 12px 28px;
  color: white;
  background-color: red;
  font-weight: bold;
  border-radius: 12px;
  position: absolute;
  left: 230px;
  border: none;
}

.input:focus {
  outline: none;
}
