.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: rgb(26, 26, 72);
  padding: 20px 10px;
  text-align: center;
  background: url("../../assets/footer-bg.jpg") center/cover no-repeat; /* Replace 'your-background-image.jpg' with your actual image path */
  overflow: hidden;
}

.name {
  justify-self: center;
}

.app-name {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.icon {
  color: red;
}

.all-links {
  align-self: center;
  width: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}

.container-1 {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  color: white;
}
.container-2 {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
}
.container-3 {
  display: flex;
  flex-direction: column;
  grid-column: 3/4;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  transition: color 1s;
  transition: font-size 1s;
}

.footer-name {
  text-decoration: none;
}

.link:hover {
  font-size: 25px;
  color: rgb(179, 18, 10);
}

/* Media query for cell phone screens */
@media only screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .all-links {
    display: flex;
    flex-direction: column;
    width: auto;
    grid-template-columns: 1fr;
  }
}

/* Media query for iPad screens */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .all-links {
    width: 600px;
  }
}
